Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
Werkzeug==0.9.1
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
distribute==0.6.34
itsdangerous==0.21
python-apt==0.8.8ubuntu6
python-debian==0.1.21-nmu2ubuntu1
requests==1.1.0
six==1.2.0
ssh-import-id==3.14
urllib3==1.5
wsgiref==0.1.2
